[Unit]
Description=Flask Updater

[Install]
WantedBy=multi-user.target

[Service]
User=root
PermissionsStartOnly=true
# WorkingDirectory=/home/[username]/[path]//webhook
ExecStart=/home/[username]/[path]/venv/bin/python3 /home/[username]/[path]/webhook/flask_updater.py
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755